<p-card header="{{Card?.name}}" [style]="{'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
        <video controls class="w-full"  muted autoplay loop [muted]="'muted'">
            <source [src]="'./assets/moves/' + Card?.src + '.webm'" type="video/webm">
        </video>
    </ng-template>

    <ng-container *ngFor="let label of Card?.labels">
        <p-tag styleClass="mr-2" value="{{label}}"></p-tag>
    </ng-container>

    <p-divider></p-divider>
    <p>{{Card?.description}}</p>
</p-card>
